alyahmor==0.1.5
Arabic-Stopwords==0.3
arramooz-pysqlite==0.3
AwesomeTkinter==2021.11.8
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
future==0.18.2
idna==3.3
joblib==1.1.0
libqutrub==1.2.4.1
Naftawayh==0.4
nltk==3.7
pickleDB==0.9.2
Pillow==9.1.0
PyArabic==0.6.14
python-bidi==0.4.2
qalsadi==0.4.5
regex==2022.4.24
six==1.16.0
Tashaphyne==0.3.6
tk==0.1.0
tqdm==4.64.0
urllib3==1.26.9
yapf==0.32.0
